[package]
name = "yatima_web"
version = "0.1.0"
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["console_error_panic_hook"]

[dependencies]
yatima_core = { path = "../core" }
yatima_utils = { path = "../utils" }
wasm-bindgen = { version = "0.2.72", features = ["serde-serialize"]  }
js-sys = "0.3.49"
wasm-bindgen-futures = "0.4.22"
xterm-js-rs = { version = "0.1.1", features = ["xterm-addon-fit"] }
console_error_panic_hook = { version = "0.1.6", optional = true }

[dependencies.web-sys]
version = "0.3.49"
features = [
  'Document',
  'Element',
  'HtmlElement',
  'Node',
  'Headers',
  'Request',
  'RequestInit',
  'RequestMode',
  'Response',
  'Window',
  'Storage',
  'console',
]

[dev-dependencies]
wasm-bindgen-test = "0.3.12"

[profile.release]
# Tell `rustc` to optimize for small code size.
opt-level = "s"
